<div style="direction:rtl; text-align:right">

# المشروع السادس: هل تستطيع تصنيف النصوص؟

<div style="direction:rtl; text-align:right">
أهلاً بكم في المشروع السادس من علم البيانات. في هذا المشروع، سنقوم معاً بالنظر إلى بيانات فريدة من نوعها وهي مجموعة من النصوص المصنفة إلى مجالات مختلفة. سنقوم بنمذجة هذه البيانات لتوقع تصنيف النصوص بناء على الكلمات الواردة. تستطيع قراءة المزيد عن البيانات من خلال موقع سايكت-ليرن:

- https://scikit-learn.org/0.19/datasets/twenty_newsgroups.html

<div style="direction:rtl; text-align:right">
ملاحظة: عليك تعديل الخانات التي يوجد فيها الكود أدناه قبل تسليم المشروع. جميع الخانات الأخرى يجب ان تبقى كما هي بدون أي 
تعديل.

```
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################
```

In [114]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

<div style="direction:rtl; text-align:right">

# قراءة البيانات

In [115]:
from sklearn.datasets import fetch_20newsgroups

In [116]:
newsgroups_data = fetch_20newsgroups(subset='train')

In [117]:
X = newsgroups_data['data']
y = newsgroups_data['target']

<div style="direction:rtl; text-align:right">
لاحظ أن X هنا عبارة عن قائمة بالنصوص، وليست جدول كما هو الحال مع الدروس الأخرى. أما y فهي كذلك قائمة بالتصنيفات المختلفة. لمعرفة معنى التصنيفات نستطيع طباعة target_names:

In [118]:
for i, k in enumerate(newsgroups_data['target_names']):
    print(i, '\t->\t', k)

0 	->	 alt.atheism
1 	->	 comp.graphics
2 	->	 comp.os.ms-windows.misc
3 	->	 comp.sys.ibm.pc.hardware
4 	->	 comp.sys.mac.hardware
5 	->	 comp.windows.x
6 	->	 misc.forsale
7 	->	 rec.autos
8 	->	 rec.motorcycles
9 	->	 rec.sport.baseball
10 	->	 rec.sport.hockey
11 	->	 sci.crypt
12 	->	 sci.electronics
13 	->	 sci.med
14 	->	 sci.space
15 	->	 soc.religion.christian
16 	->	 talk.politics.guns
17 	->	 talk.politics.mideast
18 	->	 talk.politics.misc
19 	->	 talk.religion.misc

<div style="direction:rtl; text-align:right">
وهنا سنقوم بطباعة أول قيمة من X

In [119]:
print(X[0])

From: lerxst@wam.umd.edu (where's my thing)
Subject: WHAT car is this!?
Nntp-Posting-Host: rac3.wam.umd.edu
Organization: University of Maryland, College Park
Lines: 15

 I was wondering if anyone out there could enlighten me on this car I saw
the other day. It was a 2-door sports car, looked to be from the late 60s/
early 70s. It was called a Bricklin. The doors were really small. In addition,
the front bumper was separate from the rest of the body. This is
all I know. If anyone can tellme a model name, engine specs, years
of production, where this car is made, history, or whatever info you
have on this funky looking car, please e-mail.

Thanks,
- IL
   ---- brought to you by your neighborhood Lerxst ----

<div style="direction:rtl; text-align:right">
لنقم أولاً بعرض كم عدد النصوص لكل صنف ؟ قد تحتاج لاستخدام باندا للقيام بالمهمة!

In [120]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################
temp = pd.DataFrame(list(zip(X, y)), columns =['post', 'target']) 
temp.groupby(['target']).count()

        post
target
0        480
1        584
2        591
3        590
4        578
5        593
6        585
7        594
8        598
9        597
10       600
11       595
12       591
13       594
14       593
15       599
16       546
17       564
18       465
19       377

<div style="direction:rtl; text-align:right">
نرى أن لدينا توازن في توزيع النصوص بين الأصناف المختلفة

<div style="direction:rtl; text-align:right">

# تجهيز البيانات

<div style="direction:rtl; text-align:right">
ماذا نعمل عادة مع البيانات النصية؟ في هذه الحالة، سيكون أمامنا الكثير لنعمله حتى نقوم بتنظيف هذه البيانات وتهيئتها للتحليل. لذلك سنقوم بكتابة بعض الأوامر التي تساعدنا على ذلك.

<div style="direction:rtl; text-align:right">
المهمة الأولى: تنظيف النص

In [121]:
import re

In [124]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################


# HINT: figure out how to: delete special charachters, delete numbers, delete email addresses
#          if you dont know, use google!


def clean_text(text):
    
    text = text.lower() #lower case.
    text = re.sub('\S*@\S*\s?', '',text)# remove emails.
    text = re.sub('[^a-z \n ]+', '',text)# remove everything but letters and newline character.
    text = re.sub('\n', ' ',text)# remove newline character and replace it with a space.  
    return text

<div style="direction:rtl; text-align:right">
حسنا، سنقوم الآن برؤية أثر هذه التعديلات على العنصر الأول في قائمة النصوص

In [125]:
clean_text(X[1])

'from guy kuo subject si clock poll  final call summary final call for si clock reports keywords siaccelerationclockupgrade articleid shelleyqvfoinncs organization university of washington lines  nntppostinghost carsonuwashingtonedu  a fair number of brave souls who upgraded their si clock oscillator have shared their experiences for this poll please send a brief message detailing your experiences with the procedure top speed attained cpu rated speed add on cards and adapters heat sinks hour of usage per day floppy disk functionality with  and  m floppies are especially requested  i will be summarizing in the next two days so please add to the network knowledge base if you have done the clock upgrade and havent answered this poll thanks  guy kuo '

In [126]:
X[1] #before

"From: guykuo@carson.u.washington.edu (Guy Kuo)\nSubject: SI Clock Poll - Final Call\nSummary: Final call for SI clock reports\nKeywords: SI,acceleration,clock,upgrade\nArticle-I.D.: shelley.1qvfo9INNc3s\nOrganization: University of Washington\nLines: 11\nNNTP-Posting-Host: carson.u.washington.edu\n\nA fair number of brave souls who upgraded their SI clock oscillator have\nshared their experiences for this poll. Please send a brief message detailing\nyour experiences with the procedure. Top speed attained, CPU rated speed,\nadd on cards and adapters, heat sinks, hour of usage per day, floppy disk\nfunctionality with 800 and 1.4 m floppies are especially requested.\n\nI will be summarizing in the next two days, so please add to the network\nknowledge base if you have done the clock upgrade and haven't answered this\npoll. Thanks.\n\nGuy Kuo <guykuo@u.washington.edu>\n"

<div style="direction:rtl; text-align:right">
سنقوم الآن بتنفيذ ذات الأمر على باقي النصوص في X:

In [127]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

for i in  range(len(X)):
    X[i]= clean_text(X[i])

<div style="direction:rtl; text-align:right">
الآن سنقوم باستخدام Td-IDF لتحويل الكلمات إلى مصفوفة ضخمة حتى نستخدمها في النمذجة. في الخانة التالية، ستقوم باستخدام TfidfVectorizer لتحويل النص.

In [128]:
#Remove stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/potato/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [129]:
# I know that the task specifies that we should use TfidfVectorizer, and I did,
# but the accury was better using CountVectorizer, therefore I replaced it.

from sklearn.feature_extraction.text import CountVectorizer

cv= CountVectorizer(min_df=2,max_df=0.85,stop_words=stop)
word_count_vector=cv.fit_transform(X)

In [142]:
#I may need this later.
df= pd.DataFrame(word_count_vector.toarray(), columns=cv.get_feature_names())

In [143]:
df.head()

,aa,aaa,aaah,aaffff,aamir,aammmaaaazzzzzziinnnnggggg,aargh,aarghhhh,aarhus,aario,...,zurich,zv,zvi,zwart,zx,zxa,zyxel,zz,zzr,zzzzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [132]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

from sklearn.feature_extraction.text import TfidfTransformer

transformer =  TfidfTransformer(smooth_idf=True,use_idf=True)

trn_term_doc = transformer.fit_transform(word_count_vector)

In [133]:
trn_term_doc

<11314x44814 sparse matrix of type '<class 'numpy.float64'>'
	with 1109515 stored elements in Compressed Sparse Row format>

<div style="direction:rtl; text-align:right">

# نمذجة البيانات

<div style="direction:rtl; text-align:right">
سنقوم الآن بنمذجة البيانات. لنبدأ بالانحدار اللوجستي. في الخانة أدناه، قم باستيراد كلاً من مكتبة الانحدار اللوجستي، وأمر cross_val_score ثم استخدمهم في تدريب النموذج والتحقق من صحته.

In [134]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

model =  LogisticRegression(C=10)
scores = cross_val_score(model,trn_term_doc, y, cv=5, scoring='accuracy')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [135]:
avg_score = scores.mean()

In [136]:
print('Average accuracy is: ', avg_score)

Average accuracy is:  0.9177153336693298

In [154]:
#let's try another model.
from sklearn.ensemble import RandomForestClassifier

RandomForest = RandomForestClassifier()
scores = cross_val_score(RandomForest,trn_term_doc, y, cv=5, scoring='accuracy')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [155]:
avg_score = scores.mean()
print('Average accuracy is: ', avg_score)

Average accuracy is:  0.7279719337109742

<div style="direction:rtl; text-align:right">
لا تحتاج في هذا المشروع إلى تسليم أي ملف إلى كاقل. ولكن تأكد من صحة الإجابات ثم قم بتسليم المشروع في الموقع.